nodered_config/PalaceCinema.json
[{"id":"6693c500.996c3c","type":"ui_tab","z":"","name":"IoL","icon":"dashboard","order":"1"},{"id":"7167a6c3.61f5c8","type":"inject","z":"bbcb5e8d.ab303","name":"Marquee Rainbow","topic":"","payload":"https://iot.seeed.cc/v1/node/GroveLedWs2812D1/start_rainbow_flow/7/25/9?access_token=[yourtoken]","payloadType":"str","repeat":"","crontab":"","once":true,"x":150,"y":120,"wires":[["76ab58cc.d20528"]]},{"id":"71802f0d.9e035","type":"http request","z":"bbcb5e8d.ab303","name":"[post] GroveLedWs2812D1","method":"POST","ret":"txt","url":"","x":540,"y":160,"wires":[["a4a79d6a.f3b34"]]},{"id":"a4a79d6a.f3b34","type":"debug","z":"bbcb5e8d.ab303","name":"Marquee Lights","active":true,"console":"false","complete":"payload","x":760,"y":200,"wires":[]},{"id":"c0f8746c.609bc8","type":"inject","z":"bbcb5e8d.ab303","name":"Roof Rainbow","topic":"","payload":"https://iot.seeed.cc/v1/node/GroveLedWs2812D2/start_rainbow_flow/7/25/4?access_token=[yourtoken]","payloadType":"str","repeat":"","crontab":"","once":true,"x":130,"y":300,"wires":[["66e07e89.24fb2"]]},{"id":"a9974dac.f7b53","type":"http request","z":"bbcb5e8d.ab303","name":"[post] GroveLedWs2812D2","method":"POST","ret":"txt","url":"","x":540,"y":300,"wires":[["a139b078.cee23"]]},{"id":"a139b078.cee23","type":"debug","z":"bbcb5e8d.ab303","name":"Roof Lights","active":true,"console":"false","complete":"payload","x":750,"y":340,"wires":[]},{"id":"62b76537.32b3cc","type":"comment","z":"bbcb5e8d.ab303","name":"Palace Cinema","info":"Uses a Wio to control addressable lights (WS2812B)\nWio Link: http://www.seeedstudio.com/wiki/Wio_Link\n\nWio Link is designed to simplify your IoT development,\naims to make it easy to develop Internet of Things products\nand services. It is an ESP8266 based open-source Wi-Fi\ndevelopment board to create IoT applications by\nvirtualizing plug-n-play modules to RESTful APIs with mobile APPs.\n","x":100,"y":80,"wires":[]},{"id":"76ab58cc.d20528","type":"ui_switch","z":"bbcb5e8d.ab303","tab":"6693c500.996c3c","name":"Marquee Rainbow","topic":"","group":"Palace Cinema","order":1,"onvalue":"https://iot.seeed.cc/v1/node/GroveLedWs2812D1/start_rainbow_flow/7/25/9?access_token=[yourtoken]","offvalue":"https://iot.seeed.cc/v1/node/GroveLedWs2812D1/stop_rainbow_flow?access_token=[yourtoken]","x":150,"y":160,"wires":[["40d515de.fb8b5c"]]},{"id":"40d515de.fb8b5c","type":"function","z":"bbcb5e8d.ab303","name":"set url","func":"msg.url = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["71802f0d.9e035","a4a79d6a.f3b34"]]},{"id":"66e07e89.24fb2","type":"ui_switch","z":"bbcb5e8d.ab303","tab":"6693c500.996c3c","name":"Roof Rainbow","topic":"","group":"Palace Cinema","order":"3","onvalue":"https://iot.seeed.cc/v1/node/GroveLedWs2812D2/start_rainbow_flow/7/25/4?access_token=[yourtoken]","offvalue":"https://iot.seeed.cc/v1/node/GroveLedWs2812D2/stop_rainbow_flow?access_token=[yourtoken]","x":140,"y":340,"wires":[["30401ea2.e21f72"]]},{"id":"30401ea2.e21f72","type":"function","z":"bbcb5e8d.ab303","name":"set url","func":"msg.url = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["a9974dac.f7b53","a139b078.cee23"]]},{"id":"fef7c78c.6524f8","type":"inject","z":"bbcb5e8d.ab303","name":"Marquee Lights: Off","topic":"","payload":"https://iot.seeed.cc/v1/node/GroveLedWs2812D1/clear/7/000000?access_token=[yourtoken]","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":200,"wires":[["40d515de.fb8b5c"]]},{"id":"18f2eb4.ea84315","type":"inject","z":"bbcb5e8d.ab303","name":"Roof Lights: OFF","topic":"","payload":"https://iot.seeed.cc/v1/node/GroveLedWs2812D2/clear/8/000000?access_token=[yourtoken]","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":380,"wires":[["30401ea2.e21f72"]]},{"id":"78f01a43.245bf4","type":"ui_button","z":"bbcb5e8d.ab303","tab":"6693c500.996c3c","name":"Roof Lights: OFF","payload":"https://iot.seeed.cc/v1/node/GroveLedWs2812D2/clear/8/000000?access_token=[yourtoken]","topic":"","group":"Palace Cinema","order":"4","x":140,"y":420,"wires":[["30401ea2.e21f72","5c2c8024.462d1"]]},{"id":"18dd2f81.a7f64","type":"ui_button","z":"bbcb5e8d.ab303","tab":"6693c500.996c3c","name":"Marquee Lights: OFF","payload":"https://iot.seeed.cc/v1/node/GroveLedWs2812D1/clear/7/000000?access_token=[yourtoken]","topic":"","group":"Palace Cinema","order":"2","x":160,"y":240,"wires":[["40d515de.fb8b5c","b90df4ff.5afd58"]]},{"id":"b90df4ff.5afd58","type":"function","z":"bbcb5e8d.ab303","name":"toggle off","func":"msg.payload = \"https://iot.seeed.cc/v1/node/GroveLedWs2812D1/stop_rainbow_flow?access_token=[yourtoken]\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["76ab58cc.d20528"]]},{"id":"5c2c8024.462d1","type":"function","z":"bbcb5e8d.ab303","name":"toggle off","func":"msg.payload = \"https://iot.seeed.cc/v1/node/GroveLedWs2812D2/stop_rainbow_flow?access_token=[yourtoken]\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["66e07e89.24fb2"]]}]