nodered_config/PubNubMsgExample.json
[{"id":"a0f49a5c.5f0b68","type":"pubnub-keys","pub_key":"XXXX","sub_key":"XXXX"},{"id":"490810ab.b6f7f","type":"pubnub in","keys":"a0f49a5c.5f0b68","channel":"iol","x":94,"y":86,"z":"11e87d2f.ee1783","wires":[["1e0d1490.e1f2eb","1bd186c1.e42e79"]]},{"id":"965d4cc1.69a2b","type":"pubnub out","keys":"a0f49a5c.5f0b68","channel":"iol","x":656,"y":405,"z":"11e87d2f.ee1783","wires":[]},{"id":"1e0d1490.e1f2eb","type":"debug","name":"PubNub raw data","active":false,"console":"false","complete":"payload","x":337,"y":44,"z":"11e87d2f.ee1783","wires":[]},{"id":"e91c1b55.16e3e8","type":"inject","name":"","topic":"","payload":"From node-red, Hello World!","payloadType":"none","repeat":"","crontab":"","once":false,"x":140,"y":301,"z":"11e87d2f.ee1783","wires":[["20132ddb.dfecd2"]]},{"id":"fe4f5cf0.01b0a","type":"inject","name":"","topic":"","payload":"{command:lights_off}","payloadType":"none","repeat":"","crontab":"","once":false,"x":142,"y":365,"z":"11e87d2f.ee1783","wires":[["40213340.bfdecc"]]},{"id":"20132ddb.dfecd2","type":"function","name":"{\"news\":\"Hello World, from Node-RED\"}","func":"msg.payload = {\"news\":\"Hello World, from Node-RED\"};\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":299,"z":"11e87d2f.ee1783","wires":[["965d4cc1.69a2b"]]},{"id":"40213340.bfdecc","type":"function","name":"{\"command\":\"lights_off\"}","func":"msg.payload = {\"command\":\"lights_off\"};\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":365,"z":"11e87d2f.ee1783","wires":[["965d4cc1.69a2b"]]},{"id":"9d011f1e.62fee","type":"function","name":"{\"command\":\"lights_on\"}","func":"msg.payload = {\"command\":\"lights_on\"};\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":422,"z":"11e87d2f.ee1783","wires":[["965d4cc1.69a2b"]]},{"id":"ce12c037.31ed4","type":"inject","name":"","topic":"","payload":"{command:lights_off}","payloadType":"none","repeat":"","crontab":"","once":false,"x":146,"y":423,"z":"11e87d2f.ee1783","wires":[["9d011f1e.62fee"]]},{"id":"982e83ae.67d18","type":"twitter in","twitter":"","tags":"internetoflego.com","user":"false","name":"internetoflego.com","topic":"tweets","x":155,"y":535,"z":"11e87d2f.ee1783","wires":[["355e4db8.caa1b2","88cea08.f77316"]]},{"id":"88cea08.f77316","type":"debug","name":"Tweet mention: InternetOfLego","active":true,"console":"false","complete":"payload","x":548,"y":535,"z":"11e87d2f.ee1783","wires":[]},{"id":"355e4db8.caa1b2","type":"function","name":"{\"command\":\"disco\"}","func":"msg.payload = {\"command\":\"disco\"};\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":477,"z":"11e87d2f.ee1783","wires":[["965d4cc1.69a2b"]]},{"id":"d01ed44a.2fe128","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":147,"y":478,"z":"11e87d2f.ee1783","wires":[["355e4db8.caa1b2"]]},{"id":"1b049005.e4fb7","type":"mongodb out","name":"","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"store","x":572,"y":24,"z":"11e87d2f.ee1783","wires":[]},{"id":"71aa0e96.8e55f","type":"debug","name":"weather data","active":true,"console":"false","complete":"payload","x":563,"y":61,"z":"11e87d2f.ee1783","wires":[]},{"id":"878b71dc.78749","type":"comment","name":"Publish","info":"","x":89,"y":264,"z":"11e87d2f.ee1783","wires":[]},{"id":"5eff7b76.a10084","type":"comment","name":"Subscribe","info":"","x":97,"y":31,"z":"11e87d2f.ee1783","wires":[]},{"id":"7a02b58d.85fd4c","type":"debug","name":"motion data","active":true,"console":"false","complete":"payload","x":562,"y":162,"z":"11e87d2f.ee1783","wires":[]},{"id":"e660b8fc.199f48","type":"twitter out","twitter":"","name":"Tweet \"Somebody's Home\"","x":611,"y":196,"z":"11e87d2f.ee1783","wires":[]},{"id":"2b99426e.d466be","type":"switch","name":"Filter Messages","property":"payload","rules":[{"t":"cont","v":"weather"},{"t":"cont","v":"news"},{"t":"cont","v":"command"},{"t":"cont","v":"motion"},{"t":"cont","v":"traffic"},{"t":"else"}],"checkall":"true","outputs":6,"x":367,"y":124,"z":"11e87d2f.ee1783","wires":[["1b049005.e4fb7","71aa0e96.8e55f"],["b52b8f43.4ad47"],["a67897f4.598768"],["7a02b58d.85fd4c","e660b8fc.199f48"],["620e0e3b.9df1f"],["8967e3e4.76982"]]},{"id":"b52b8f43.4ad47","type":"debug","name":"news data","active":true,"console":"false","complete":"payload","x":554,"y":95,"z":"11e87d2f.ee1783","wires":[]},{"id":"a67897f4.598768","type":"debug","name":"command data","active":false,"console":"false","complete":"payload","x":569,"y":128,"z":"11e87d2f.ee1783","wires":[]},{"id":"8967e3e4.76982","type":"debug","name":"other data","active":true,"console":"false","complete":"payload","x":562,"y":263,"z":"11e87d2f.ee1783","wires":[]},{"id":"620e0e3b.9df1f","type":"debug","name":"traffic signal data","active":true,"console":"false","complete":"payload","x":583,"y":226,"z":"11e87d2f.ee1783","wires":[]},{"id":"1bd186c1.e42e79","type":"json","name":"","x":219,"y":124,"z":"11e87d2f.ee1783","wires":[["2b99426e.d466be"]]}]