nodered_config/TrainStationAutomation.json
[{"id":"24f5738f.cbf0ec","type":"mqtt out","z":"d4b3d624.664fe8","name":"","topic":"/trains/horizonexpress/motor","qos":"","retain":"","broker":"","x":947.4999694824219,"y":661.6666259765625,"wires":[]},{"id":"8f1263f4.60953","type":"trigger","z":"d4b3d624.664fe8","op1":"0","op2":"1000","op1type":"val","op2type":"val","duration":"5","extend":false,"units":"s","reset":"","name":"Pause train 5s","x":712.9999694824219,"y":662.6666259765625,"wires":[["24f5738f.cbf0ec","6f4b984.8d42b68"]]},{"id":"8fd852b1.276e8","type":"delay","z":"d4b3d624.664fe8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":534.9999694824219,"y":662.6666259765625,"wires":[["8f1263f4.60953"]]},{"id":"6f4b984.8d42b68","type":"debug","z":"d4b3d624.664fe8","name":"Reed: Pausing Train","active":true,"console":"false","complete":"payload","x":926.9999694824219,"y":713.6666259765625,"wires":[]},{"id":"53d90812.d397d8","type":"mqtt in","z":"d4b3d624.664fe8","name":"","topic":"/trackSensors/reed/1","broker":"","x":232.49999999999997,"y":663.3333333333333,"wires":[["8fd852b1.276e8"]]},{"id":"599cef7.71c571","type":"comment","z":"d4b3d624.664fe8","name":"Train Automation - Station Routine","info":"","x":240.83333333333331,"y":599.9999999999999,"wires":[]}]